body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f0f4f8;
}

header {
    display: grid;
    grid-template-columns:
        1fr 2fr 1fr;
    align-items: center;
    padding: 15px 30px;
    background: #003366;
    color: white;
}

header>div:first-child {
    text-align: left;
}

header>div:nth-child(2) {
    text-align: center;
}

.info {
    text-align: right;
}

h1 {
    margin: 0;
    font-size: clamp(2rem, 4vw, 4rem);
}

h2 {
    font-size: clamp(1.5rem,
            2vw,
            2.5rem);
    text-align: center;
}

.info {
    text-align: right;
    font-size: clamp(1rem, 2vw, 2rem);
}

.resumo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vw 3vw;

    background: #ffffff;

    font-size: clamp(1rem, 1.8vw, 1.6rem);
}

#salasContainer {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {

    background: white;

    border-radius: 12px;

    padding: 20px;

    min-height: 120px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    box-shadow:
        0 2px 8px rgba(0,0,0,.12);
}

.sala {
    font-size: clamp(1.2rem, 1.8vw, 1.8rem);
    font-weight: 700;
    overflow-wrap: break-word;
    word-break: break-word;
}

.turma {
    margin-top: 10px;
    font-size: clamp(1rem, 1.4vw, 1.4rem);
    line-height: 1.3;
    overflow-wrap: break-word;
}

footer {
    background: #003366;
    color: white;
    padding: 10px;
}

.footer-contatos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    font-size: clamp(
        0.9rem,
        1vw,
        1.1rem
    );
}


.resumo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 25px;

    font-size: 1.2rem;
    font-weight: bold;
}

#contadorSalas {
    opacity: 0.8;
}

.laboratorio {
    border-left: 8px solid #0066cc;
}

#ultimaAtualizacao {
    text-align: center;
    padding: 10px;
    opacity: 0.8;
}

.sem-aulas {
    text-align: center;
}

.sem-aulas .sala {
    font-size: 2rem;
}

.sem-aulas .turma {
    font-size: 1.4rem;
}

#dataAtual {
    font-size: clamp(0.9rem,
            1.2vw,
            1.3rem);
}

#horaAtual {
    font-size: clamp(2rem,
            3vw,
            3rem);
    font-weight: bold;
}

.institucional {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    min-height: 60vh;

    text-align: center;
}

.logoInstitucional {

    max-width: 500px;

    width: 70%;
}

.institucional h2 {

    font-size: clamp(2rem, 3vw, 4rem);

    margin-top: 30px;
}

.institucional p {

    font-size: clamp(1rem, 2vw, 2rem);
}